* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cursed Timer ULiL';
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.main {
    width: 575px;
    height: 385px;
    background: #1B244A;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.header {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #EEEEEE;
}

.score-card {
    width: 155px;
    height: 120px;
    text-align: center;
    background: #080001;
    margin: 20px;
    border-radius: 5px;
}

.score {

    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
}