* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.main {
    width: 575px;
    height: 385px;
    background: #1B244A;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #EEEEEE;
}